@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-select {
    appearance: none;
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23666' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6,9 12,15 18,9'%3e%3c/polyline%3e%3c/svg%3e") no-repeat;
    background-position: right 15px center;
    background-size: 16px;
    padding-right: 40px;
  }

  .svg-active {
  filter: brightness(0) saturate(100%) invert(37%) sepia(91%) saturate(6400%)
    hue-rotate(241deg) brightness(95%) contrast(100%);
}

.svg-inactive {
  filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%)
    hue-rotate(0deg) brightness(0%) contrast(100%);
  opacity: 0.9;
}

.icon-active {
    background-color: #7152f3;
  }

  .icon-inactive {
    background-color: black;
    opacity: 0.8;
  }

}
